.Rproj.user
.Rhistory
.RData
.Ruserdata
archive/
*.docx
Doing Meta-Analysis With R.R
dat.lopez2019.txt
metafor_CBT_example.R
V_list*
intervention_bundle_guide.xlsx
V_list*.csv
NMA_counts_by_domain.xlsx
*_formatted.xlsx
NMA_study_contrast_list*
NMA_student_sample_counts.png
NMA_data_analysis_subset_grpID.*
NMA checks*
NMA output- network graphs.txt
NMA counts*
NMA_counts_by_domain*
NMA_output_check*
new NWA check*
DATABASE Converting ESs and SEs from 4.0 to 4.1 v5_Data inventory for 4.0 to 4.csv
DATABASE Converting ESs and SEs from 4.0 to 4.1 v5_Data inventory for 4.0 to 4.xlsx