.Rproj.user
.Rhistory
.RData
.Ruserdata
archive/
*.docx
Doing Meta-Analysis With R.R
dat.lopez2019.txt
metafor_CBT_example.R
V_list*
intervention_bundle_guide.xlsx
V_list*.csv
NMA_counts_by_domain.xlsx
*_formatted.xlsx
NMA_study_contrast_list*